




.footerLinks a {
    color: var(--white, #FFF);

    /* body inter 18px r */
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.footerLinkHeading {
    color: var(--white, #FFF);

    /* body title inter 18px m */
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 24.039px;
    text-transform: uppercase;
}

.copyright {
    color: var(--white, #FFF);
    font-size: 13.663px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 19.864px;

}
.copyright_div{
    background: var(--dark, #141414);
}