.header {
    background-color: #141414;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .header .div {
    background-color: #141414;
    border: 1px none;
    height: 126px;
    position: relative;
    width: 1280px;
  }
  
  .header .line {
    height: 106px;
    left: 22px;
    object-fit: cover;
    position: absolute;
    top: 20px;
    width: 1px;
  }
  
  .header .frame {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 51px;
    position: absolute;
    top: 28px;
    width: 1178px;
  }
  
  .header .image-wrapper {
    align-items: flex-start;
    display: flex;
    gap: 32px;
    position: relative;
    width: fit-content;
  }
  
  .header .image {
    height: 64px;
    min-width: 59px;
    object-fit: cover;
    position: relative;
  }
  
  .header .flex-container {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.2px;
    height: 66px;
    width: 651px;
  }
  
  .header .text {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    white-space: nowrap;
    width: 651px;
  }
  
  .header .text-wrapper {
    color: #ffffff;
    font-family: "Inter-Bold", Helvetica;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 32px;
  }
  
  .header .WIE-purple {
    height: 69px;
    min-width: 89px;
    position: relative;
  }
  
  .header .img {
    height: 102px;
    left: 1255px;
    object-fit: cover;
    position: absolute;
    top: 24px;
    width: 1px;
  }